{% extends '@admin/layout.twig' %}

{% block title "Editer l'article" %}

{% block body %}

    <h1>Ajouter un article</h1>

    <form action="{{ path(routePrefix ~ '.create') }}" method="post" enctype="multipart/form-data">
        {% include viewPath ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit">Ajouter</button>
    </form>

{% endblock %}
