<p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
<a href="{{ domain }}{{ path('auth.forget_password.reset', {id: user.id, token: token}) }}"
   target="_blank">{{ domain }}{{ path('auth.forget_password.reset', {id: user.id, token: token}) }}</a>
