{% extends '@admin/layout.twig' %}

{% block title "Editer la catégorie" %}

{% block body %}

    <h1>Editer la catégorie {{ item.name }}</h1>

    <form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="post">
        {% include viewPath ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit">Editer</button>
    </form>

{% endblock %}
