{% extends 'layout.twig' %}
{% block title %}Mot de passe perdu{% endblock %}
{% block body %}
    <form action="{{ path('auth.forget_password') }}" method="post">
        {{ csrf_input() }}
        {{ field('email', null, 'Email', {type: 'email'}) }}
        <button class="btn btn-primary">Réinitialiser mon mot de passe</button>
    </form>
{% endblock %}
