{% extends 'layout.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <h1>Nouveau mot de passe</h1>
    <form action="" method="post">
        {{ csrf_input() }}
        {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
        {{ field('password_confirm', null, 'Mot de passe (confirmation)', {type: 'password'}) }}
        <button class="btn btn-primary">Valider mon nouveau mot de passe</button>
    </form>
{% endblock %}
