<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.admin.index') ? 'active' }}"
       href="{{ path('blog.admin.index') }}">Articles</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.category.admin.index') ? 'active' }}"
       href="{{ path('blog.category.admin.index') }}">Catégories</a>
</li>
